button {
    padding: 17px 40px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: rgb(0, 245, 253);
    box-shadow: rgb(247, 248, 252) 0 0 88px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
}
button:hover {
    letter-spacing: 4px;
    background-color: rgb(24, 191, 220) 0px 7px 29px 0px;
}
button:active {
    letter-spacing: 3px;
    background-color: hsl(24, 191, 220);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(24, 191, 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}
.mainBox {
    text-align: center;
    width: 100%;
    height: 150px;
    background: white;
}
div {
    text-align: center;
    background: white;
    height: 300px;
    width: 100%;
}
h1 {
    
    color: rgba(0, 68, 255, 0.753)
}
h2 {
    font-size: 40px;
    color: rgb(142, 48, 196)
}
.boxr {
    background: rgb(106, 1, 245);
    width: 350px;
    height: 200px;
}
p span{
    font-size: 50px;
    color: white;
}
.d-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.boxb{
    background: rgb(106, 1, 245);
    width: 350px;
    height: 200px;
}
.boxg{
    background: rgb(106, 1, 245);
    width: 350px;
    height: 200px;
}
p{
    font-size: 20px;
    color: white;
}
h4{
    color: blue;
}
.box1{
    background: rgb(106, 1, 245);
    width: 380px;
    height: 300px;  
}
.a1{
    display: flex;
    justify-content: space-around;
    align-items: center; 
}
.box7{
    text-align: center;
    background: white;
    height: 700px;
    width: 100%;
}
.box2{
    background: rgb(106, 1, 245);
    width: 380px;
    height: 300px; 
}
h5{
    font-size: 25px;
}
.x1{
    text-align: center;
    height: 150px;
    width: 100%;
}
.box9{
    text-align: left;
    height: 450px;
    width: 100%;
}